<div class="container">
    <div class="row">
        <h3 coloredHeader>Dummy Data</h3>
        <ul id="dummy">
            <li *ngFor='let dummy of dummyData'>
                <a routerLink="/general/{{ dummy.id }}">
                    <span class="badge">{{ dummy.id }}</span> {{ dummy.name }}
                </a>
            </li>
        </ul>
    </div>    
</div>