#dummy {
  margin: 0 0 2em 0 !important;
  list-style-type: none !important;
  padding: 0 !important;
  width: 15em !important;
}
#dummy li {
  position: relative !important;
  cursor: pointer !important;
  background-color: #EEE !important;
  margin: .5em !important;
  padding: .4em 0 !important;
  height: 2em !important;
  border-radius: 4px !important;
}

#dummy li:hover {
  color: #607D8B !important;
  background-color: #DDD !important;
  left: .1em !important;
}

#dummy a {
  color: #888 !important;
  text-decoration: none !important;
  position: relative !important;
  display: block;
  width: 250px !important;
}

#dummy a:hover {
  color:#607D8B !important;
}

#dummy .badge {
  display: inline-block !important;
  font-size: small !important;
  color: white !important;
  padding: 0.8em 0.7em 0 0.7em !important;
  background-color: #607D8B !important;
  line-height: 1em !important;
  position: relative !important;
  left: -1px !important;
  top: -4px !important;
  height: 2em !important;
  min-width: 16px !important;
  text-align: right !important;
  margin-right: .8em !important;
  border-radius: 4px 0 0 4px !important;
}