<div class="col-md-8  col-md-offset-2" *ngIf="video">
    <div class="">
        <iframe width="730" height="315" [src]="getTrustVideoUrl(video.id.videoId)" frameborder="0" allowfullscreen=""></iframe>
        <div [style.text-align]="divStyle">
            <h2>{{ video.snippet.title }}</h2>
            <p>{{ video.snippet.description }}</p>

            <textarea id="description" name="description" [(ngModel)]="video.snippet.description" cols="87" rows="4" ></textarea>

            <span> From <i [ngStyle]="dateStyle">{{ differ | dateDifference : Today : video.snippet.publishedAt  }}</i> days</span>
            On {{ video.snippet.publishedAt | date : 'mediumDate' }}
        </div>
    </div>
</div>