<!--<app-videos></app-videos>-->

<!--<h1 id="homepage">HomePage</h1>-->
<ul id="menu" [style.list-style]="ulStyle">
    <li><a routerLink="/general" routerLinkActive="active">General</a></li>
    <li><a routerLink="/videos" routerLinkActive="active">Youtube Vidoes</a></li>
    <li><a routerLink="/stop-watch" routerLinkActive="active">Stop-Watch</a></li>
</ul>

<router-outlet></router-outlet>
