<div class="container">
    <div class="row">
        <div *ngIf="dummy">
            <h2 coloredHeader>{{ dummy.name | titlecase }} - Informations</h2>
            <div><span>id: </span>{{ dummy.id }}</div>
            <div>
                <label>Name:
                    <input [(ngModel)]="dummy.name" placeholder="dummy"/>
                </label>
            </div>
            <br/>
            <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
    </div>
</div>