<div class="container">
    <div class="row">
         <p>
            {{ minutes }} : {{ seconds }}
         </p>
         <button class="btn btn-primary" (click)="startTime()">Start</button>
         <button class="btn btn-danger" (click)="stopTime()">Stop</button>
         <button class="btn btn-success" (click)="saveLap()">Lap</button>
         <br />
         <p id="cycle_number">
            <!-- <span style="color:blue">Lap({{ cycle }})</span> => {{ minutesLap }} : {{ secondsLap }} -->
         </p>
    </div>
</div>
