/* You can add global styles to this file, and also import other style files */
#menu {
  margin-top: 10px;
  height: 50px;
}
#menu li {
    width: 130px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    background-color: darkolivegreen;
    margin-right: 3px;
    text-align: center;
    float: left;
}

#menu li a {
    text-decoration: none !important;
    color: snow;
}

#menu li a.active {
    color: hotpink;
}
