<div class="container">
    {{ errorMsg }}
    <div class="row">
        <h2 coloredHeader>{{ channelName }}</h2>
        <div class="col-md-4" *ngFor="let video of videos" (click)="onSelectVideo(video)">
            <img class="video" width="{{ video.snippet.thumbnails.medium.width }}" src="{{ video.snippet.thumbnails.medium.url }}" style="border:1px solid black" alt="image" />
        </div>
    </div>
    
    <app-video-details [video]="selectedVideo"></app-video-details>
    
</div>